<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Main Menu</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="/suppliers">供應商管理系統</a></li>
            <li class="list-group-item">進貨系統</li>
            <li class="list-group-item">銷貨系統</li>
            <li class="list-group-item">客戶管理系統</li>
            <li class="list-group-item">庫存盤點系統</li>
        </ul>
    </div>
</body>
</html>
